@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');



// Set custom brand colors
$grey: #3d3d3d;
$orange: #d4622b;
$white: #ffffff;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$footer-background-color: $grey;
$primary: $orange;



@import "./node_modules/bulma/sass/utilities/_all";
@import "./node_modules/bulma/sass/base/_all";
@import "./node_modules/bulma/sass/elements/_all";
@import "./node_modules/bulma/sass/form/_all";
@import "./node_modules/bulma/sass/components/_all";
@import "./node_modules/bulma/sass/grid/_all";
@import "./node_modules/bulma/sass/helpers/_all";
@import "./node_modules/bulma/sass/layout/_all";

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
     -moz-box-shadow: $params;
          box-shadow: $params;
}

@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
  background: {
      image: url($imgpath);
      position: $position;
      repeat: $repeat;
  }
}

@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}

body {
  background:#9d6940;
  color: $white;
};

.hero {
  @include border-radius(5px);
  
};

.hero-head{
  @include border-radius(5px);
}

.custom-logo {
  @include box-shadow(0 0 25px rgba(0,0,0,.5));
  @include border-radius(50%);
};

.hero-body {
  @include border-radii(10px,10px,0px,0px);
};

.hero-foot {
  background-color: #3d3d3d;
  color: $white;
  @include border-radii(0px,0px,5px,5px);
};

.tile.is-ancestor{
  margin: 0;
}

.footer {
  @include border-radii(10px,10px,0px,0px);
  
};

